form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input,textarea {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
table {
    width: 100%;
    text-align: center;
}
th {
    padding: 5px;
    border: 3px black solid;
    font-size: 20px;
    font-weight: bold;
    background-color: aqua;
    text-transform: capitalize;
}
td {
    padding: 5px;
    color: blue;
    font-size: 18px;
    border: 1px solid green;
    text-transform: capitalize;
}









